.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.25rem);
}

h1 {
  text-align: center;
}

.track-list {
  overflow: wrap;
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1rem;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  list-style: none;
  padding: 0px;
  overflow: wrap;
}
.album-year {
  font-size: 30px;
}

.modal-header {
  padding: 5px;
  background-color: white;
  text-align: center;
  color: black;
}

.modal-exit {
  /* display: inline-block; */
  width: 1em;
  background-color: white;
  -webkit-box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
  display: flex;
}

.Xbutton {
  display: flex;
  justify-content: right;
  /* flex-direction: column-reverse; */
}

.modal-body {
  padding: 10px;
  background-color: white;
}

.modal-image {
  height: 100px;
}

button {
  font-family: "Londrina Solid", cursive;
  background-color: white;
  -webkit-box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -1px rgba(0, 0, 0, 0.75);
}
