/* 
font-family: 'Bungee Shade', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Solid', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Moonrocks&display=swap");

.navlink {
  margin: 10px;
  margin-top: 0;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
  transition: 0.5s ease-in-out;
}

.b-side-music {
  color: black;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 80px;
}

.nav-bar-component {
  width: 100%;
  background: rgb(226, 169, 74);
  background: linear-gradient(
    0deg,
    rgba(226, 169, 74, 1) 0%,
    rgba(190, 80, 124, 1) 100%
  );
  border-bottom: 3px solid white;
}

h1 {
  font-family: "Londrina Solid", cursive;
  font-size: 70px;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.title-logo {
  display: flex;
  align-items: center;
  height: 140px;
}

.nav {
  font-family: "Londrina Solid", cursive;
  font-size: 30px;
  display: flex;
  color: black;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 0;
}

.cassette-logo {
  height: 120px;
  transition: transform 0.4s;
  padding: 10px;
}

.cassette-logo:hover {
  transform: scale(1.1);
}

.home {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .nav {
    font-size: 20px;
    justify-content: left;
    padding: 5px;
  }
  .b-side-music {
    color: black;
    font-family: "Rubik Moonrocks", cursive;
    font-size: 50px;
    padding-left: 0;
  }
  .navlink {
    margin: 5px;
    margin-top: 0;
    font-size: 20px;
  }

  .cassette-logo {
    height: 100px;
    padding: 10px;
  }
}

.active {
  color: black;
}
